<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta name="description" content="Connecting students with tutors. Our authentic tutor base ensures a quality learning experience for you. Learn through an innovative experience, doodle or use one click image upload for your questions." />
    <meta name="keywords" content="edvice, mobile, tutor, app, improve,  exam, preparation" />
    <meta name="author" content="edvice">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <title>Edvice - Experience the best!</title>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Libs CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

	<!-- Template CSS -->
	<link href="css/style.css" rel="stylesheet">
	<!-- Modernizr -->
    <script src="js/modernizr.min.js" type="text/javascript"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,800&amp;subsetting=all' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60357982-1', 'auto');
      ga('send', 'pageview');

    </script>
	<script>
	function ajaxRequest(){
		if (window.XMLHttpRequest)
  		{// code for IE7+, Firefox, Chrome, Opera, Safari
  			xmlhttp=new XMLHttpRequest();
  		}
		else
  		{// code for IE6, IE5
  			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  		}
			return xmlhttp
		}
	function emailValidate(email) {

  		var reEmail = /^(?:[\w\!\#\$\%\&\'\*\+\-\/\=\?\^\`\{\|\}\~]+\.)*[\w\!\#\$\%\&\'\*\+\-\/\=\?\^\`\{\|\}\~]+@(?:(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9\-](?!\.)){0,61}[a-zA-Z0-9]?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9\-](?!$)){0,61}[a-zA-Z0-9]?)|(?:\[(?:(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\.){3}(?:[01]?\d{1,2}|2[0-4]\d|25[0-5])\]))$/;

  		if(!email.match(reEmail)) {
    		return false;
  		}
		else{

  		return true;

		}

		}
	function validateEmail(email,button_id){
		if(!emailValidate(email)) {
			$("#" + button_id).addClass("btn-disabled");
  		}
		else{

		$("#" + button_id).removeClass("btn-disabled");

		}

	}

	function modalLoginOpen(){
	    $("#modalLogin").modal('show');
	}

	function modalInfographOpen(){
	    $("#modalInfograph").modal('show');
	}



	function submitEmail(id){

	var email_input = document.getElementById(id);
	if(emailValidate(email_input.value)){
	var ajax_request = ajaxRequest();
				var params = "email=" + encodeURIComponent(email_input.value) + "&csrfmiddlewaretoken=" + '{{csrf_token}}';
				ajax_request.onreadystatechange = function(){
					if (ajax_request.readyState == 4 && ajax_request.status == 200)
					{
						//alert("You have been subscribed");
						$("#modalSubscribe").modal('show');
					}
				}

				ajax_request.open("POST","{% url 'email-subscribe"  ,true);
				ajax_request.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
				ajax_request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				ajax_request.send(params);
	}

	}

	</script>



</head>

<body data-spy="scroll" data-target=".navigation">
	<!-- Banner -->
    <div id="banner" class="bg-blur">
		<!-- Start Header -->
		<div id="header">

			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="hashlearn-tab">
				<div class="container">
					<a href="http://www.hashlearn.com"><img src="img/hashlearn.png"></a>
				</div> 
			</div>
				<div class="container" style="margin-top:10px;">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Start Logo / Text -->
						<a class="navbar-brand text-logo" href="#"><div class="logo-text"></div><img src="img/edvice_small_black.png" style="display:none;"></a>
						<!-- End Logo / Text -->
					</div>
					<!-- Start Navigation -->
					<div class="navigation navbar-collapse collapse">
						<ul class="nav navbar-nav menu-right">
							<li class="active"><a href="#banner">Home</a></li>
							<li><a href="#features">Features</a></li>
							<li><a href="#working">How it works</a></li>
							<li><a href="#faq">FAQ</a></li>
							<!-- <li><a href="#subscribe">Subscribe</a></li> -->
							<li><a href="#tutor">Tutor Corner</a></li>
							<!-- <li><a href= "{%url 'tutor-login">Tutor Login</a></li> -->
							<!-- <li><a onClick="modalInfographOpen()" class="pointer">Infographic</a></li> -->
							<!-- <li><a href="mailto:getedvice@gmail.com?subject=Tell%20me%20more%20about%20Edvice">Contact</a></li> -->

							<!-- <li class="sm-icon"><a href="https://www.facebook.com/getedvice"><span class="icon-facebook-square sm-top"></span></a></li> -->
							<!--
							<li class="sm-icon"><a href="https://twitter.com/getedvice"><span class="icon-twitter sm-top"></span></a></li>
							-->
						</ul>
					</div>
					<!-- End Navigation  -->
				</div>
			</nav>
		</div>
		<!-- End Header -->
		<div class="banner-content">
			<div class="container">
				<div class="row space">
					<!-- Start Header Text -->
					<div class="col-md-7 col-sm-7 margintop30">
						<!-- <img src="img/logo.png" class="logo-big"> -->
						<h1>Your own<strong> Private Tutor.</strong></h1>
						<div class="quote-container">
							<!-- <p><blockquote>These student tutors have cracked these exams and they understand your struggles much better than anyone else.</blockquote></p> -->
							<p style="font-size:21px;">On-demand tutoring for Engineering Entrance. <br>High-quality tutors studying in IITs and BITS.</p>
						</div>
						
							<p style="margin-top:25px;">
						<img src="img/play.png" class="play-img">

					    <a href="http://www.facebook.com/getedvice" target="_blank"><img src="img/fbBig.png" class="play-img sm-big"></a>
					    <a href="http://twitter.com/getedvice" target="_blank"><img src="img/twitterBig.png" class="play-img sm-big"></a>

						</p>
						
						
						<h3>Sign-up for an <b>invite</b>.</h3>
						
						<div class="form-wrapper cf">
						<div class="submit-box">
							<input class="email signup" id="email_top" name="signup[email]" placeholder="Enter your email address here." type="text" oninput="validateEmail(this.value, 'btn-submit-top')">
							<button  class="btn-mail btn-disabled" id="btn-submit-top" onclick="submitEmail('email_top')"><span class="icon-send"></span></button>
						</div>
						</div>
						
					

					</div>
					<!-- End Header Text -->
					<!-- Start Banner Optin Form-->
					<div class="col-lg-4 col-md-4 col-md-offset-1 col-sm-5">
						<img src="img/splash.png" class="banner-image">
					</div>
					<!-- End Banner Optin Form -->
				</div>
			</div>
		</div>
    </div>
	<!-- End Banner -->


	<!-- Features Section -->
	<section id="features" class="section0">
		<div class="container">

					<div class="row">
				<div class="col-lg-12">
					<div class="headline">
						<h2>Features</h2>
						<!-- <p class="header-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p> -->
					</div>
				</div>
			</div>

					<div class="">

						<!-- FEATURES LEFT -->
						<div class="col-md-4 col-sm-6">
							<ul class="features-list features-list-left">
								<li class="features-list-item">
									<h5>Vetted, high-quality tutors</h5>
									<p class="">Get privately tutored by verified tutors studying in premier colleges, hand-picked through a rigorous testing process. Our tutors are from IIT-Delhi, IIT-Varanasi, BITS Pilani-Pilani campus and BITS Pilani-Hyderabad campus.</p>
								</li>
								<li class="features-list-item">
									<h5>Affordable</h5>
									<p>No complicated plans, we offer a simple pay-as-you-use model at a price 50% lower than a conventional private tutor. Top your account with as little as Rs.100. Now everyone truly can afford a high-quality personal tutor!</p>
								</li>
								
								
							</ul>
						</div>

						<!-- FEATURES RIGHT -->
						<div class="col-md-4 col-md-push-4 col-sm-6">
							<ul class="features-list features-list-right wow fadeInRight" data-wow-duration="1s">
								<li class="features-list-item">
									<h5>On-demand, on your mobile</h5>
									<p>Stuck on a concept at 2 am? No problem. Connect to your own HashLearn Now tutor instantly at the click of a button. Our simple chat-interface offers you a focused, distraction-free learning environment right on your mobile.</p>
								</li>
								<li class="features-list-item">
									<h5>Personalized, at your pace</h5>
									<p>Our tutors work at your pace and on topics of your choice. Tutors are selected at a topic-level to ensure the best fit for the student, unlike coaching centres where the same professors usually cover all topics within a subject.</p>
								</li>
							</ul>
						</div>

						<!-- CLOSE UP PHONE IMAGE -->
						<div class="col-md-4 col-md-pull-4">
							<!-- <img src="img/features1.png" alt=""/> -->




							<div class="flexslider group" id="features-slider">
                        <ul class="slides group">
                            <li class="group">
																<p><img src="img/features1.png" class="feature_img" alt=""/></p>

                            </li>
														<li class="group">
																<p><img src="img/features2.png" class="feature_img" alt=""/></p>

                            </li>
														<li class="group">
																<p><img src="img/features3.png" class="feature_img" alt=""/></p>

                            </li>
														<li class="group">
																<p><img src="img/features4.png" class="feature_img" alt=""/></p>

                            </li>

                        </ul>
                    </div>



						</div>

					</div>

				</div>


	</section>
	<!-- End Section -->



	<!-- How does it work Section -->
	<section id="working" class="section-plain">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="headline">
						<h2>How it works ?</h2>
						<!-- <p class="header-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p> -->
					</div>
				</div>
			</div>


			<div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <span class="step-num"><img src="img/hand.svg"></span>
                            </div>
                            <div class="timeline-panel arrow_box">
																<div class="timeline-heading">
                                    <h5>Choose your topic</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Choose a chapter you want to learn, upload an image of the question or topic. Standby for session launch.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="step-num"><img src="img/connect.svg"></span>
                            </div>
                            <div class="timeline-panel arrow_box-inv">
																<div class="timeline-heading">
                                    <h5>Connect to the tutor</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hello there! Start chatting with our tutor. Send images or use the doodle board to make your session rich and interactive.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span class="step-num"><img src="img/face.svg"></span>
                            </div>
                            <div class="timeline-panel arrow_box">
																<div class="timeline-heading">
                                    <h5>There you go!</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Doubts cleared? Rate your tutor experience and share it with your friends.</p>
                                </div>
                            </div>
                        </li>
												<!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="step-num"><img src="img/connect.svg"></span>
                            </div>
                            <div class="timeline-panel arrow_box-inv">
																<div class="timeline-heading">
                                    <h5>Connect to the tutor</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hello there! Our tutor knows that you have a lot of doubts, send images over or use the doodle board to ask questions.</p>
                                </div>
                            </div>
                        </li> -->
                    </ul>
                </div>
			</div>

		</div>
	</section>
	<!-- End Section -->




	<section id="tutor" class="section0">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="headline">
						<h2>Become a Tutor</h2>

					</div>
				</div>
			</div>
			<div class="row" style="text-align:center;">
				<div class="col-md-12 col-sm-12">
						<h4>Interested in becoming a tutor at HashLearn Now?</h4><p style="margin-top:20px;margin-bottom:20px;">Tutor registrations are now open.</br>
						We are accepting undergraduates from these <a href="{%url 'college-list" target="_blank"> colleges.</a> </p>
						<a class="btn btn-lg tut-reg" onClick="modalLoginOpen()" style="">Register</a><a class="btn btn-lg tut-reg" href= "{%url 'tutor-login" style="margin-left:20px;">Login</a>

				</div>
			</div>
		</div>
	</section>


	<!-- FAQ Section -->
	<section id="faq" class="section-plain">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="headline">
						<h2>Frequently Asked Questions</h2>
						<!-- <p class="header-sub">Doubts to clarify? You'll always have Edvice</p> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12" style="text-align:center;">
										<div class="flexslider group" id="faq-slider">
                        <ul class="slides group">
                            <li class="group">
																<h4>How do I get HashLearn Now?</h4>
																<p>Instant Tutoring on HashLearn Now is being launched exclusively on the 15 June 2015. The App will be available for download on the google play, but to access instant tutoring you will need an invite. If you don’t have an invite, you can subscribe for one <a href="">here</a>.</p>

                            </li>
                            <li class="group">
																<h4>How do I schedule a lesson on HashLearn Now?</h4>
																<p>Login to the app. Enter your invite code (more on invites here), you will be taken to the Home screen. From the Home Screen, select the topic relevant to the question you want answered. (For example, Alkanes in Chemistry or Coordinate Geometry in Mathematics). You could choose to directly connect to a tutor by clicking on the 'Search for tutor' button. Alternatively, you could upload a picture of the question [Upload directly from your Gallery or click a picture then] and then select the 'Search for tutor' option. We'll connect you to the tutors currently active on HashLearn Now, instantly!</p>

                            </li>
                            <li class="group">
																<h4>How much do I pay for a lesson on HashLearn Now?</h4>
																<p>Multiple subscription plans will be made available to all HashLearn Now users to suit their needs. Users can also pay as they as use on a per minute basis. Note that this rate will vary if you have availed for a subscription plan.</p>

                            </li>
														<li class="group">
																<h4>Can I get admission help on HashLearn Now?</h4>
																<p>Yes, you can get stream and campus specific help on HashLearn Now. As a part of our exclusive launch we are only providing admission help relevant to the BITS Pilani Campus. However you can still avail stream specific help.</p>
														</li>
														<li class="group">
																<h4>Is my device supported?</h4>
																<p>HashLearn Now is supported on any Android Device running Jellybean OS or above.</p>
														</li>
														<li class="group">
																<h4>How do I pay for my lessons on HashLearn Now?</h4>
																<p>HashLearn Now uses PayU, a closed Digital Wallet service similar to services like PayTM and Ola. You should top up the wallet using your debit/credit card and the amount charged is automatically deducted from your wallet after a session. Swipe right on the home screen (or) Click on the drawer button on the top-right corner of the screen to open up your sliding drawer. Once it appears, select the 'My Wallet' option to take you to the recharge screen.</p>
														</li>
														<li class="group">
																<h4>What is the refund policy if I'm not satisfied with my lesson?</h4>
																<p>You get charged by the minute and are charged once the lesson is completed. If an issue is reported within 24 hours of session completion, our customer Support team will go through the transcripts of the lesson in question and will refund the full amount if serious discrepancy is seen. You could report the issue via the app or drop us a mail at support@HashLearnNow.com and we’ll get back to you.</p>
														</li>
                        </ul>
                    </div>
										
										<a class="btn tut-reg">Complete FAQ</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Section -->






	<!-- End Section -->

	<!-- Subscribe section -->
	<section id="subscribe" class="section bg-waves">
		<div class="container section-push-down">
			<div class="row">
				<div class="col-lg-12 text-center white-text">
					<div class="headline">
						<h2><strong>Want an </strong>invite?</h2>
					</div>
						<input class="email signup" id="email_bottom" name="signup[email]" placeholder="Enter your email address here." type="text" oninput="validateEmail(this.value, 'btn-submit-bottom')">
						<button class="btn-mail btn-disabled" id="btn-submit-bottom" onclick="submitEmail('email_bottom')"><span class="icon-send"></span></button>
				</div>
			</div>
		</div>
	</section>
	<!-- End Section -->

	<!--
	<footer class="footer footer-top">
	<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 white-text">
					<div class="headline"><h2>Contact Us</h2></div>
				</div>

			</div>
	</div>

	</footer> -->





	<footer class="footer footer-sub">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-5">
					<ul class="footer-brand">
						<li><a href="" class="logo-footer"></a></li>
						<li><p class="footer-left">HashLearn Now 2015 All Rights Reserved</p></li>
				</div>
				<div class="col-lg-7 col-sm-7">
					 <ul class="footer-links-nav">
						<li><a href="#features" class="footer-link">Features</a></li>
						<li><a href="#faq" class="footer-link">FAQ</a></li>
						
						<!-- <li><a href="#" class="footer-link">Press</a></li> -->
						<li><a href="mailto:getedvice@gmail.com?subject=Tell%20me%20more%20about%20Edvice">Contact</a></li>
						<li class="sm-icon"><a href="https://www.facebook.com/getedvice"><span class="icon-facebook-square sm-top"></span></a></li>
						<li class="sm-icon"><a href="https://twitter.com/getedvice"><span class="icon-twitter sm-top"></span></a></li>
					</ul>
					 </p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Bottom -->


	<!-- Subscription Modal -->

	<div id="modalSubscribe" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-align:center;">Thanks!</h4>
                </div>
                <div class="modal-body" style="text-align:center">
					<img src="img/tick.svg">
                    <p>Thanks for subscribing to Edvice!</br>We are launching soon and will let you know the moment we do.</p>
                </div>

            </div>
        </div>
    </div>


	<!-- Infograph Modal -->

	<div id="modalInfograph" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-align:center;">Edvice Infographic</h4>
                </div>
                <div class="modal-body" style="text-align:center">
                    <img src="img/thumb.png" class="infograph-thumb">
                    <p>So what do most students go through to crack the JEE?</br>A string of all nighters, endless question banks, anticipation and worry.</br>
                    Here is a story that we can relate to all too well!</p>
                    <a href="http://www.getedvice.com/infographic" target="_blank" class="btn btn-lg big-green">Take me there!</a>
                </div>

            </div>
        </div>
    </div>



    	<!-- Subscription Modal -->

	<div id="modalLogin" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-align:center;">Tutor Login</h4>
                </div>
                <div class="modal-body" style="text-align:center">

					<p style="margin-bottom:20px;">Currently, the only sign up option supported is through Facebook.</p>
 {% load socialaccount %}
{% providers_media_js %}
 <a href="{% provider_login_url "facebook" method="js_sdk" %}"><img src="{{ STATIC_URL }}img/fb.png" style="margin-bottom:20px;"></a>
 <p style="margin-bottom:20px;">OR, </br>Login <a href= "{%url 'tutor-login"> here </a> if your have already signed up.</p>


                </div>

            </div>
        </div>
    </div>



	<!-- End of Modal -->



	    	<!-- Subscription Modal -->



	<!-- End of Modal -->

	<!-- Start Js Files -->
	<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script><!--jQuery is a Javascript library that greatly reduces the amount of code that you must write.-->
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-2.1.0.min.js"><\/script>')</script>

	<script defer src="js/jquery.flexslider.js"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script><!--Packed with many functionalies such as carousel slider, responsivity, tabs, drop downs, buttons, and many other features-->

	<!--Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.-->

	<script src="js/custom.js" type="text/javascript"></script><!-- Script File containing all customizations  -->

	<script type="text/javascript">
        /* $(window).load(function(){
            $("#modalInfograph").modal('show');
        }); */
    </script>

	<!-- End Js Files  -->

	<!-- Icon credits
	Like Icon : Master Pixel
	Improve Icon : Adriano Gazzellini
	Wallet Icon : Joseph Augustine
	Plane :  Brian Dys Sahagun
	Connect : Waselle Kwan
	Hand : Naomi Atkinson
	Face : SuperAtic LABS
	-->

</body>
</html>

